.arriba {
  background-color: #e3becd;
}

.item {
  border: 2px solid rgb(233, 211, 211);
  padding: 10px;
  border-radius: 20px;
}
.btn-primary{
  color: #fff;
    background-color: #eba3eb;
    border-color: #eba3eb;
}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 100%;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}

.btn-success {
  color: #fff;
  background-color: #b372b3;
  border-color: #eba3eb;
}

.abajo {
  background-color: #e3becd;
}
.btn-secondary {
  color: #fff;
  background-color: #b372b3;
  border-color: #eba3eb;
}
